/* reset.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: darkgray;
}

body {
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  background: #e5e5e5;
}

/* main  */

section {
  width: 375px;
  height: 840px;
  margin-left: 50px;
  background: #eeece5;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  margin-bottom: 20px;
}

header > h3 {
  font-size: 18px;
  font-weight: 400;
}

main {
  position: relative;
}

.profile:hover {
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 30px;
  position: relative;
}

.icons:hover {
  cursor: pointer;
}

.scanner {
  margin-right: 13px;
}

.balance {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balance_Top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 12px;
  text-align: center;
  width: 279px;
  height: 155px;
  box-shadow: 0px 0px 16px rgba(226, 191, 66, 0.19);
  margin-bottom: 25px;
}

.balance_Top_transfer {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
}

.balance_Top_h4:hover {
  cursor: pointer;
}

.balance_Top_transfer > h3 {
  color: #858585;
}

.balance_Top_h4 {
  position: absolute;
  right: -60px;
  font-size: 14px;
}

.balance_Top > strong {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2px;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 14px;
}

.progressBar {
  width: 202px;
  height: 6px;
  left: 32px;
  top: 110px;
  background: #c4c4c4;
  border-radius: 3px;
}

.progressBar_percent {
  width: 128px;
  height: 6px;
  left: 32px;
  top: 110px;
  background: #ffdb4c;
  border-radius: 3px 0px 0px 3px;
}

.progressBar_graph {
  position: absolute;
  right: -20px;
}

.balance_Top_left > h5 {
  font-size: 14px;
  font-weight: 500;
  color: #858585;
}

.advertise {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.advertise h4 {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 25px;
}

.advertise a {
  color: inherit;
}

/* scroll */

.scroll {
  position: absolute;
  overflow: scroll;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #f5f5f5;
  width: 100%;
  height: 530px;
  z-index: 1;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px -5px 14px rgba(189, 144, 28, 0.08);
}

.upScroll {
  cursor: pointer;
}

.scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.upScroll {
  transform: translate(5px, -7px);
  width: 48px;
  height: 2.15px;
  border-radius: 4px;
  background: #c4c4c4;
  opacity: 0.5;
  border: 0.1px solid rgba(0, 0, 0, 0.21);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.saving_list {
  padding: 15px 18px;
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
}

.saving_list_goal {
  font-size: 12px;
  font-weight: 400;
  width: 162px;
  height: 47px;
  margin-right: 5px;
  color: white;
  background: #dadada;
  line-height: 18px;
  border-radius: 6px 0px 0px 6px;
}

.saving_list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.saving_list_goal:hover {
  cursor: pointer;
}

.saving_list_goal_progress {
  display: flex;
  padding-left: 5px;
  flex-direction: column;
  justify-content: center;
  width: 152px;
  height: 47px;
  margin-right: 5px;
  border-radius: 6px 0px 0px 6px;

  /* background-color: blue; */
}

.first {
  background-color: red;
}

.second {
  width: 150px;
  background-color: sandybrown;
}

.history {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 17px 18px;
  font-weight: 300;
  height: 15000px;
}

.history_day {
  padding: 3px 17px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.history_date {
  font-size: 14px;
}

.history_spending {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;

  /* identical to box height */
}

.lists {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdc;
  padding: 3px 17px;
}

.lists span:first-child {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}

.lists span:last-child {
  color: #444444;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}
/* footer */

.buttons_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(163.63deg, #00bdb2 11.35%, #c4e7b8 139.96%);
}

.buttons {
  position: relative;
  transform: translateY(530px);
  z-index: 1;
}

.button {
  padding: 20px 30px;
  width: 24px;
  height: 24px;
}

.button img {
  width: 24px;
  height: 24px;
}

.button:nth-child(2) > img {
  width: 24px;
  height: 15px;
}

.button:hover {
  cursor: pointer;
}

/* 지출 관리 */

.second_section {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 910px;
}

.second_section_header {
  display: flex;
  justify-content: right;
  margin-right: 50px;
  font-size: 20px;
}

.second_section_header {
  text-align: right;
}

.manage_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.manage_container > h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.second_section .progressBar {
  width: 300px;
}

.set_standard {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 23px;
  transform: translateY(30px);
}

.set_standard {
  transform: translateY(30px);
}

.second_section .progressBar {
  transform: translateY(40px);
}

.set_standard span:nth-child(1) {
  font-size: 18px;
}

.set_standard span:nth-child(2) {
  font-size: 24px;
}

.second_section main {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.daily_report {
  padding: 0px 15px;
  margin-bottom: 60px;
  transform: translateY(80px);
  font-size: 20px;
}

.daily_report img {
  transform: translateY(40px);
}

.monthly_pattern {
  transform: translateY(-30px);
}

.monthly_pattern {
  transform: translateY(150px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.monthly_pattern_text {
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 25px;
}

.second_section footer {
  width: 100%;
  transform: translateY(45px);
}

/* 의민이 할머니 goals */

.son {
  background: #0a73c3;
}

.son2 {
  background: #eeba00;
}

.grandma {
  background: skyblue;
}

.grandma2 {
  background: #005f59;
}

.creLi {
  display: flex;
  justify-content: space-between;
}

/* Swipter */

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.dateHeader {
  text-align: left;
  font-size: 16px;
  margin-bottom: 7px;
  margin-top: 7px;
}
